{% extends "landing/base.html" %}
{% block content %}
<h2 class="mb-3">Friend Request(s)</h2>
    {% if is_null %}
        <h3>No invitations</h3>
    {%endif%}
    <ul class="list-group">
        {% for req in query %}
        <li class="list-group-item list-group-item-light"><img class="rounded-circle account-img" style="
            height:50px;
            width: 50px; margin-top: 5px; float:left"src="{{ req.user.profile.image.url }}"><a class="mr-2" href="{% url 'user-post' req.user%}" style="float:left; margin-top: 20px;">{{ req.user }}</a>
            <form action="{% url 'accept-request' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{req.pk}}>
                <button type="submit" class="btn btn-outline-success" style="height: 40px; width: 80px; float:right; margin-top: 10px; margin-left: 10px;">Accept</button>
            </form>
            <form action="{% url 'reject-request' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{req.pk}}>
                <button type="submit" class="btn btn-outline-danger" style="height: 40px; width: 80px; float: right; margin-top: 10px;">Reject</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}